---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`max-w-5xl mx-auto ${noPadding ? "px-0" : "px-6"}`}>
  <hr aria-hidden={ariaHidden} />
</div>

<style>
  hr {
    border: none;
    border-top: 1px solid rgba(var(--color-border), 0.12);
  }
</style>
