---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li class="inline-block">
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class={`tag-pill no-underline ${size === "lg" ? "px-3 py-1 text-sm" : ""}`}
  >
    {tag}
  </a>
</li>
